/.env
/.env.local
/.env.*.local
/.phpunit.result.cache
/build/
/node_modules/
/public/build/
/public/bundles/
/var/
/vendor/
/public/uploads/
/.idea/
/.vscode/
.DS_Store
Thumbs.db
/var/log/
/var/cache/
/.sass-cache/
.secrets/
!/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###

/assets/vendor/
###< symfony/asset-mapper ###
