{% extends 'student_layout.html.twig' %}

{% block body %}

<h2>{{ exam.title }}</h2>
<p>{{ exam.description }}</p>

{% if exam.type == 'pdf' %}
    <a href="/uploads/exams/{{ exam.filePath }}" target="_blank" class="btn btn-primary">
        Télécharger le sujet
    </a>
{% elseif exam.type == 'link' %}
    <a href="{{ exam.externalLink }}" target="_blank" class="btn btn-success">
        Ouvrir le Quiz
    </a>
{% endif %}

<hr>

<h3>Envoyer votre copie</h3>

<form method="post">
    <button class="btn btn-primary">Marquer comme terminé</button>
</form>

{% endblock %}
